<head>
    <style>
        .container {
            width: 100%;
            min-height: 100vh;
            display: block;
        }

        .forma {
            height: 300px;
            display: block;
            justify-content: space-between;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="container">
        @if (ViewData["Title2"] != null && ViewData["Title"] == null)
        {
            <h3 style="color:red">@ViewData["Title2"]</h3>
        }

        @if (ViewData["Title2"] == null && ViewData["Title"] != null)
        {
            <h3 style="color:lime">@ViewData["Title"]</h3>
        }

        <div class="forma">
            <form method="post" action="/Home/Submit">

                <label>Izaberite uredjaj za remont</label>
                <select style="width:250px;height:40px" required name="device">
                    <option value="1">Uredjaj 1</option>
                    <option value="2">Uredjaj 2</option>
                    <option value="3">Uredjaj 3</option>
                    <option value="4">Uredjaj 4</option>
                    <option value="5">Uredjaj 5</option>
                    <option value="6">Uredjaj 6</option>
                    <option value="7">Uredjaj 7</option>
                    <option value="8">Uredjaj 8</option>
                </select>
                <br /><br />
                <input type="number" min="0" required name="timeInWarehouse" placeholder="Vreme provedeno u magacinu (sati)" style="width:300px;height:40px" />
                <br /><br />
                <input type="number" min="0" required name="workHours" placeholder="Vreme eksploatacije (sati)" style="width:300px;height:40px" />
                <br /><br />
                <input type="submit" value="Posalji na remont" style="height:30px" />
            </form>
        </div>
        <form method="get" action="/Home/GetData">
            <input type="submit" value="Dobavi aktivne i istorijske podatke" />
        </form>
        <br /><br />
        <h3>Aktivni</h3>
        <div class="aktivni">
            <table>
                <tr>
                    <th>Device id</th>
                    <th>Time in warehouse (hours)</th>
                    <th>Work hours</th>
                    <th>Remont number</th>
                    <th>Send to remont </th>
                    @*<th>Remont time (minutes)</th>*@
                </tr>
                @if (ViewData["activeData"] != null)
                {
                    @foreach (var item in ViewData["activeData"] as List<PrijemRemont.Remont>)
                    {
                        <tr>
                            <td>@item.DeviceId</td>
                            <td>@item.HoursInWarehouse</td>
                            <td>@item.WorkHours</td>
                            <td>@item.NumberOfRemont</td>
                            <td>@item.SendToRemont</td>
                            @*<td>@item.TimeSpentInRemont</td>*@
                        </tr>

                    }
                }
            </table>
        </div>

        <hr />

        <h3>Istorija</h3>
        <div class="istorija">
            <table>
                <tr>
                    <th>Device id</th>
                    <th>Time in warehouse (hours)</th>
                    <th>Work hours</th>
                    <th>Remont number</th>
                    <th>Send to remont </th>
                    <th>Remont time (minutes)</th>
                </tr>
                @if (ViewData["historyData"] != null)
                {
                    @foreach (var item in ViewData["historyData"] as List<PrijemRemont.Remont>)
                    {
                        <tr>
                            <td>@item.DeviceId</td>
                            <td>@item.HoursInWarehouse</td>
                            <td>@item.WorkHours</td>
                            <td>@item.NumberOfRemont</td>
                            <td>@item.SendToRemont</td>
                            <td>@item.TimeSpentInRemont</td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>

</body>